<div
  id="{{ index }}"
  class="monitoringtile"
  [ngClass]="{ selected: data.toggled }"
  standard
  [appDraggable]="data.draggable"
>
  <header class="monitoringtile__header">
    <h2 class="monitoringtile__header__title">#tile-{{ data.id }}</h2>
  </header>

  <ng-template [ngIf]="data.toggled || data.preToggled">
    <section class="overlay">
      <div class="overlay__content overlay__content--multiselect" [ngClass]="{ selected: data.toggled }">
        <input type="checkbox" class="selection-checkbox" [checked]="data.toggled" id="multiselectMaxID{{ data.id }}" />
        <label class="toggle toggle--button" [ngClass]="{ 'multi-selection': data.preToggled }" id="label-{{ index }}">
          <div class="check-wrapper">
            <div class="button__icon no__style" *ngIf="data.toggled">&#10004;</div>
          </div>
        </label>
      </div>
    </section>
  </ng-template>
</div>
