// Brand Colors
$white: #ffffff;
$black: #000000;
$sennheiser-petrol: #00333f;
$sennheiser-blue: #0096d6;
$sennheiser-grey-dark: #414141;
$sennheiser-grey-light: #e1e1e1;
$sennheiser-grey-lighter: #f0f0f0;
$sennheiser-utility-error: #b12a0b;

// Grey nuances
$grey-01: #080808;
$grey-02: #171717;
$grey-03: #1f1f1f;
$grey-04: #292929;
$grey-05: #474747;
$grey-06: #787878;
$grey-07: #adadad;
$grey-08: #bababa;
$grey-09: #d5d5d5;
$grey-10: #e6e6e6;
$grey-11: #404040;
$grey-12: #979797;
$grey-13: #121212;
$grey-14: #646464;
$grey-15: #f2f2f2;
$grey-16: #545454;

// Opaque nuances
$opaque-01: rgba(255, 255, 255, 0.25);
$opaque-02: rgba(4, 113, 178, 0.6);
$opaque-03: rgba(10, 10, 10, 0.7);
$opaque-04: rgba(125, 125, 125, 0.7);
$opaque-05: rgba(0, 0, 0, 0.75);
$opaque-06: rgba(0, 0, 0, 0.6);

// Blue nuances
$blue-01: #62b8e8;
$blue-02: #0084bd;
$blue-03: #006996;
$blue-04: #3d6275;
$blue-05: #3d4c54;
$blue-06: #3a464d;
$blue-07: #2b353b;
$blue-08: #4a758b;
$blue-09: #0ab6ff;
$blue-10: #99d5ee;

// Anthra nuances
$anthra-01: #2d3033;
$anthra-02: #3c4042;
$anthra-03: #585a5c;
$anthra-04: #222426;

// Other colors
$alert: #ee2211;
$warning-01: #ffe64a;
$warning-02: #fff5cb;
$warning-01-opaque: rgba(255, 230, 74, 0.5);
$success: #54de1d;
$utility-01: #2eb966;
$tile-rose: #F4AFE6;
$tile-light-blue: #64FFEA;
