// Brand Colors
$white: #ffffff;

// Grey nuances
$grey-02: #171717;
$grey-04: #292929;
$grey-09: #d5d5d5;

// Opaque nuances
$opaque-01: rgba(255, 255, 255, 0.25);
$opaque-02: rgba(4, 113, 178, 0.6);
$opaque-03: rgba(10, 10, 10, 0.7);

// Anthra nuances
$anthra-02: #3c4042;
