$monitoringtile-bg: $grey-04;
$monitoringtile-fg: $white;
$monitoringtile-border: $grey-02;

$monitoringtile--multiselect-bg: $opaque-01;
$monitoringtile--multiselect--selected-bg: $opaque-02;

.monitoringtile * {
  pointer-events: none;
}

.monitoringtile {
  flex: 1 1 auto;
  background-color: $monitoringtile-bg;
  width: 14rem;
  max-width: 14rem;
  min-height: 24rem;
  max-height: 24rem;
  color: $monitoringtile-fg;
  user-select: none;
  cursor: default;
  overflow: hidden;
  position: relative;

  &.highlight {
    outline: dashed 3px;
  }

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;

  .overlay {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 8;

    .overlay__content {
      background-color: $monitoringtile--multiselect--selected-bg;
      flex: 1 1 auto;

      input[type='checkbox'] {
        visibility: hidden;
        position: fixed;
      }
    }

    .overlay__content--multiselect {
      background-color: $monitoringtile--multiselect-bg;
      display: flex;

      .check-wrapper {
        z-index: -10; //added z index so that dragover event doesn't recognize it
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -0.3rem;
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
        background-color: $monitoringtile--multiselect--selected-bg;

        .button__icon {
          font-size: 4rem;
          color: #ffffff;
        }
      }

      &.selected {
        background-color: $monitoringtile--multiselect--selected-bg;

        .toggle .btn--icon {
          visibility: visible;

          &.multi-selection {
            background-color: $monitoringtile--multiselect--selected-bg;
          }

          input[type='checkbox'] {
            -webkit-appearance: none;
            visibility: hidden;
          }
        }
      }

      .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        flex: 1 1 auto;
        cursor: pointer;

        &.highlight {
          outline: dashed 3px;
        }
      }
    }
  }

  .overlay__content--center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}

.monitoringtile__header {
  max-height: 5rem;
  flex: 0 1 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $monitoringtile-border;

  .monitoringtile__header__title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.9rem;
    line-height: 1;
  }
}
