@import './styles/colors.scss'; 
/**
 * Variables
 */

$font-size-regular: 1.4rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;

$font-weight-regular: 400;
$thead-bg: $grey-04;
$table-border: 1px solid $grey-02;
$thead-color: $grey-08;
