@import '../../../styles/colors.scss';

.monitoring__container {
  display: flex;
  position: relative;
  max-width: 4096px;
  max-height: 2680px;
  height: 100vh;

  /* Prevent the text contents of draggable elements from being selectable. */
  [draggable] {
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -webkit-user-drag: element;
  }

  .monitoring__scene {
    padding: 10px;
    max-width: 4096px;
    max-height: calc(2680px);
    display: grid;
    grid-template-columns: repeat(25, 14rem);
    grid-template-rows: repeat(10, 24rem);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
    position: relative;
    width: stretch;

    &.highlight {
      outline: dashed 3px;
    }
  }
}

.selectable {
  z-index: 12;
  background-color: $opaque-02;
}
