<div
  id="scene-wrapper"
  class="monitoring__container"
  appDragNDrop
  [multiSelectionState]="multiSelectionState"
  [selectedIds]="selectedIds"
  (dropEvent)="onDrop($event)"
  (dragStartEvent)="onDragStart($event)"
  (dragOverEvent)="onDragOver($event)"
  (dragEnterEvent)="onDragEnter($event)"
  (dragLeaveEvent)="onDragLeave($event)"
>
  <div
    id="scene-999"
    class="monitoring__scene"
    appKeyPressEvents
    (metaKeyAPressed)="onMetaKeyAPressed($event)"
    (escapePressed)="onEscapePressed($event)"
  >
    <div id="wrapper-{{ i }}" *ngFor="let tile of deviceList; let i = index" (click)="toggle(tile, $event, i)">
      <app-tile
        *ngIf="!tile.isGapTile"
        id="t-{{ i }}"
        (click)="onShiftClick($event, tile, i)"
        (contextmenu)="onCtrlClick($event, tile, i)"
        [data]="tile"
        [index]="i"
      ></app-tile>
      <app-gap-tile *ngIf="tile.isGapTile" id="t-{{ i }}" [data]="tile" [index]="i"></app-gap-tile>
    </div>
  </div>
</div>
