<div class="monitoring__container">
  <div
    id="scene-999"
    class="monitoring__scene"
    appKeyPressEvents
    (metaKeyAPressed)="onMetaKeyAPressed($event)"
    (escapePressed)="onEscapePressed($event)"
  >
    <div
      id="wrapper-{{ i }}"
      *ngFor="let tile of deviceList; let i = index"
      (click)="toggle(tile, $event)"
    >
      <app-tile
        *ngIf="!tile.isGapTile"
        id="t-{{ i }}"
        class="tile"
        (contextmenu)="onCtrlClick($event, tile)"
        [data]="tile"
        [index]="i"
      ></app-tile>
      <app-gap-tile
        *ngIf="tile.isGapTile"
        id="t-{{ i }}"
        class="gap__tile"
        [data]="tile"
        [index]="i"
      ></app-gap-tile>
    </div>
  </div>
</div>