/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/colors.scss';
@import './styles/monitoring-tiles.scss';


html {
  font-size: 10px;
}

body {
  color: $grey-09;
  background-color: $anthra-02;
  font-size: 1.4rem;
}

app-overview,
app-equipment {
  display: flex;
  flex-direction: column;
  height: 100%;
}